*{
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
  background: rgba(199, 175, 221, 0.514);

}
body {
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.container{
width: 70vw;
height:70vh;
background-color: rgb(61, 100, 100);
display: grid;
grid-template: repeat(3,1fr)/repeat(3,1fr);
}

.Square{
  background: rgb(245, 237, 247);
  border: 1px solid gray;
  font-size: 5rem;
}
.Square:focus{
outline: none;
}

.row:after{
  clear: both;
  content: "";
  display: table;
}

.squaresStep{
  display: flex;
  justify-content: space-between;
}

.button {
  text-decoration: underline ;
  display:flex;
  font-size: 16px;
}


